.topBar {
    background-color: black;
    height: 4rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.appName {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}